
// Color palette export

$colorList: (
    "blues":       $blues,
    "indigos":     $indigos,
    "purples":     $purples,
    "pinks":       $pinks,
    "reds":        $reds,
    "oranges":     $oranges,
    "yellows":     $yellows,
    "greens":      $greens,
    "teals":       $teals,
    "cyans":       $cyans
);

// Light Theme Color Map - original

$light-theme-colors: (
     "primary":    $indigo,
     "secondary":  $gray-700,
     "success":    $green,
     "info":       $cyan,
     "warning":    $yellow,
     "danger":     $red,
     "light":      $gray-200,
     "dark":       $gray-900
);

// Dark Theme Color Map - original

$dark-theme-colors: (
     "primary":    map-get($light-theme-colors, "primary"),
     "secondary":  map-get($dark-grays, "600"),
     "success":    map-get($light-theme-colors, "success"),
     "info":       map-get($light-theme-colors, "info"),
     "warning":    map-get($light-theme-colors, "warning"),
     "danger":     map-get($light-theme-colors, "danger"),
     "light":      map-get($dark-grays, "300"),
     "dark":       map-get($dark-grays, "900")
);

$sabee-colors: (
    "010":      $sabee-blue,
    "020":      $sabee-blue-darker,
    "030":      $sabee-red,
    "040":      $sabee-red-darker,
    "050":      $sabee-yellow,
    "060":      $sabee-yellow-darker,
    "070":      $sabee-green,
    "080":      $sabee-green-darker,
    "090":      $sabee-cyan,
    "100":      $sabee-cyan-darker
);

.card[data-color] ul > li {
    text-align: center !important;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

:root{

    /* Color palettes */
    @each $colorsName, $colors in $colorList {

        @each $colorName, $colorValue in $colors {
            --color-#{$colorName}: #{$colorValue};
        }
    }
    /* Grays */
    @each $colorName, $colorValue in $grays {
        --color-gray-#{$colorName}: #{$colorValue};	
    }
    /* Custom grays */
    @each $colorName, $colorValue in $custom-grays {
        --color-custom-gray-#{$colorName}: #{$colorValue};	
    }
    /* Custom colors */
    @each $colorName, $colorValue in $custom-colors {
        --color-custom-color-#{$colorName}: #{$colorValue};	
    }
    /* Light theme colors - original */
    @each $colorName, $colorValue in $light-theme-colors {
        --color-theme-#{$colorName}: #{$colorValue};	
    }
    /* Dark theme grays */
    @each $colorName, $colorValue in $dark-grays {
        --color-gray-dark-#{$colorName}: #{$colorValue};	
    }
    /* Dark theme colors */
    @each $colorName, $colorValue in $dark-theme-colors {
        --color-theme-dark-#{$colorName}: #{$colorValue};	
    }
    /* Sabee theme colors */
    @each $colorName, $colorValue in $theme-colors {
        --color-sabee-theme-#{$colorName}: #{$colorValue};	
    }
    /* Sabee grays */
    @each $colorName, $colorValue in $sabee-grays {
        --color-sabee-gray-#{$colorName}: #{$colorValue};	
    }
    /* Sabee colors */
    @each $colorName, $colorValue in $sabee-colors {
        --color-sabee-color-#{$colorName}: #{$colorValue};	
    }
}