
/* Custom brand colors */

// brand grays gray-color-variables
$sabee-white:    #f9f9fa;
$sabee-gray-100: #ebeef0;
$sabee-gray-200: #dde1e5;
$sabee-gray-300: #ced4d8;
$sabee-gray-400: #bdc5cb;
$sabee-gray-500: #aab4bd;
$sabee-gray-600: #95a1ac;
$sabee-gray-700: #7b8b98;
$sabee-gray-800: #5f6e7a;
$sabee-gray-900: #384047;
$sabee-black:    #1c242a;
// brand grays end gray-color-variables

// brand color-variables
$sabee-blue:            #008eff;
$sabee-blue-darker:     #0079d9;
$sabee-red:             #ff3c49;
$sabee-red-darker:      #da000f;
$sabee-yellow:          #f5e400;
$sabee-yellow-darker:   #d5c700;
$sabee-green:           #00b850;
$sabee-green-darker:    #009e45;
$sabee-cyan:            #0cbfe8;
$sabee-cyan-darker:     #008fd3;
// brand end color-variables